[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
requests = "*"
web3 = "*"
networkx = "*"
scipy = "*"
numpy = "*"
humanize = "*"
